.introNav{
    width: 100%;
    display: flex;
    background-color: #050505;
    border-bottom: 1px solid #fff;
    justify-content: flex-end;
    position: fixed;
    z-index: 9999;
    padding: 0 50px;
}
.introNav>p{
    color: #fff;
    font-size: 16px;
    padding: 20px 10px;
    cursor: pointer;
}
.introTitle{
    position: absolute;
    display: flex;
    top: 200px;
    color: #fff;
}
.introTitleTextWrap{
    height: 21px;
    overflow: hidden;
}
.introTitleText{
    animation: introTitleText 5s infinite;
}
@keyframes introTitleText{
    0%{transform:translateY(0%) ;}
    25%{transform:translateY(50%) ;}
    50%{transform:translateY(-100%) ;}
    75%{transform:translateY(-50%) ;}
    100% { transform: translateY(0%); }
}
.introTitleTextClone{
    animation: introTitleTextClone 5s infinite;
}
@keyframes introTitleTextClone{
    0%{transform:translateY(-200%) ;}
    25%{transform:translateY(-150%) ;}
    50%{transform:translateY(-100%) ;}
    75%{transform:translateY(-50%) ;}
    100% { transform: translateY(-200%); }
}
.introText{
    margin-left: 20px;
}
@media (max-width:1024px){
    .introNav{
        display: none;
    }
}