.introNav{
    width: 100%;
    display: flex;
    background-color: rgb(0,0,0);
    border-bottom: 1px solid #fff;
    justify-content: flex-end;
    position: fixed;
    z-index: 9999;
    padding: 0 50px;
}
.introNav>p{
    color: #fff;
    font-size: 20px;
    padding: 40px 20px;
    cursor: pointer;
}
.introNav>p:hover{
    color: #F21137;
}
.logoInputWrap{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.logoInputBg{
    display: flex;
}
.logoInputBg>h1{
    color: #fff;
}
.inputBg{
    border: none;
}
.logoInputMesh{
    display: flex;
}
.logoInputMesh>h1{
    color: #fff;
}
.inputMesh{
    border: none;
}
@media (max-width:1024px){
    .introNav{
        display: none;
    }
}