.introNav{
    width: 100%;
    display: flex;
    background-color: #050505;
    border-bottom: 1px solid #fff;
    justify-content: flex-end;
    position: fixed;
    z-index: 9999;
    padding: 0 50px;
}
.introNav>p{
    color: #fff;
    font-size: 16px;
    padding: 20px 10px;
    cursor: pointer;
}
.introTitle{
    position: absolute;
    display: flex;
    font-size: 40px;
    top: 15%;
    left: 100px;
    color: #fff;
}
.introTitleTextWrap{
    height: 54px;
    overflow: hidden;
}
.introTitleText{
    animation: introTitleText 10s infinite;
}
@keyframes introTitleText{
    0%{transform:translateY(0%) ;}
    25%{transform:translateY(50%) ;}
    50%{transform:translateY(-100%) ;}
    75%{transform:translateY(-50%) ;}
}
.introTitleTextClone{
    animation: introTitleTextClone 10s infinite;
}
@keyframes introTitleTextClone{
    0%{transform:translateY(-200%) ;}
    25%{transform:translateY(-150%) ;}
    50%{transform:translateY(-100%) ;}
    75%{transform:translateY(-50%) ;}
}
.introText{
    margin-left: 20px;
}
@media (max-width:1200px){
    .introTitle{
        font-size: 36px;
        top: 15%;
        left: 80px;
    }
    .introTitleTextWrap{
        height: 48px;
    }
}
@media (max-width:1024px){
    .introNav{
        display: none;
    }
    .introTitle{
        font-size: 30px;
        top: 15%;
        left: 40px;
    }
    .introTitleTextWrap{
        height: 41px;
    }
}
@media (max-width:768px){
    .introTitle{
        font-size: 24px;
        top: 15%;
        left: 40px;
    }
    .introTitleTextWrap{
        height: 32px;
    }
}
@media (max-width:612px){
    .introTitle{
        font-size: 20px;
        top: 15%;
        left: 20px;
    }
    .introTitleTextWrap{
        height: 27px;
    }
}
@media (max-width:501px){
    .introTitle{
        font-size: 18px;
        top: 15%;
        left: 15px;
    }
    .introTitleTextWrap{
        height: 27px;
    }
}