.section4Title>h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin: 200px 0 100px;
}
.contactBox{
    width: 600px;
    margin: 0 auto 200px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.contactWrap{
    position: relative;
    background-color: #fff;
    padding: 140px 0 140px;
}
.contactName{
    font-size: 40px;
    font-weight: bold;
}
.name1{
    position: relative;
    animation: nameC 10s  infinite ease-in;
}
@keyframes nameC {
    0%{ top: 0px; right: 0px;}
    30%{top: -30px; right: -80px;}
    40%{top: -30px; right: -80px; opacity: 0;}
    100%{top: -30px; right: -80px; opacity: 0;}
}
.name2{
    position: relative;
    animation: nameS 10s  infinite ease-in;
}
@keyframes nameS {
    0%{ top: 0px; right: 0px;}
    30%{top: 30px ;right: 0px;}
    40%{top: 30px ;right: 0px; opacity: 0;}
    100%{top: 30px ;right: 0px; opacity: 0; }
}
.name3{
    position: relative;
    animation: nameM 10s  infinite ease-in;
}
@keyframes nameM {
    0%{ top: 0px; right: 0px;}
    30%{top: 33px ;right: 45px;}
    40%{top: 33px ;right: 45px; opacity: 0; }
    100%{top: 33px ;right: 45px; opacity: 0; }
}
.nameNone{
    animation: nameNone 10s  infinite ease-in;
}
@keyframes nameNone{
    0%{opacity: 1;}
    20%{opacity: 0;}
    100%{opacity: 0;}
}
.contactLogo{
    width: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    animation: contactLogoMove 10s  infinite ease-in;
}
@keyframes contactLogoMove{
    0%{opacity: 0;}
    30%{opacity: 0;}
    31%{opacity: 1;}
    100%{opacity: 1;}
}



.hideContactWrap{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}
.hideContactWrap>div{
    width: calc(100% / 3);
    height: 100%;
    padding: 20px 0 20px;
    background-color: #f1f1f1;
    color: #050505;
}
.contactBox:hover .contactWrap  {
    opacity: 0;
    transition: opacity 2s;
  }
  .hideContactWrap {
    opacity: 0;
    display: none;
  }
  .contactBox:hover .hideContactWrap {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  .contactBox:hover .hideContactLeft {
    animation: hideContactLeft 3s forwards;
  }
  .hideContactWrap>div:first-child{
    padding: 30px 0 30px 15px;
    text-align: start;
    padding-left: 20px;
}
  .contactWhiteLogo{
    width: 100px;
    margin-bottom: 20px;
  }
  .hideContactLeftText>p{
    margin-bottom: 10px;
  }
  .contactBox:hover .hideContactCenter {
    animation: hideContactCenter 5s forwards;
  }
  .contactBox:hover .hideContactRight {
    animation: hideContactRight 7s forwards;
  }
  @keyframes hideContactLeft {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes hideContactCenter {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes hideContactRight {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }







@media (max-width : 768px){
    .contactBox{
        width: 400px;
        padding: 20px;
    }
    .contactWrap{
        padding: 100px 0 100px;
    }
    .hideContactWrap{
        top: 20px;
        left: 20px;
        width: 90%;
        height: 90%;
        overflow: hidden;
    }
    .hideContactWrap>div{
        padding: 15px 0 15px;
    }
    .contactName{
        font-size: 30px;
    }
    .contactLogo{
        width: 100px;
    }
    .contactWhiteLogo{
        width: 60px;
    }
    .hideContactLeftText>p{
        font-size: 14px;
      }
    @keyframes nameC {
        0%{ top: 0px; right: 0px;}
        30%{top: -25px; right: -60px;}
        40%{top: -25px; right: -60px; opacity: 0;}
        100%{top: -25px; right: -60px; opacity: 0;}
    }
    @keyframes nameS {
        0%{ top: 0px; right: 0px;}
        30%{top: 25px ;right: 0px;}
        40%{top: 25px ;right: 0px; opacity: 0;}
        100%{top: 25px ;right: 0px; opacity: 0;}
    }
    @keyframes nameM {
        0%{ top: 0px; right: 0px;}
        30%{top: 25px ;right: 35px;}
        40%{top: 25px ;right: 35px; opacity: 0; }
        100%{top: 25px ;right: 35px; opacity: 0;}
    }
}
@media (max-width : 584px){
    .contactBox{
        width: 300px;
        padding: 20px;
    }
    .contactName{
        font-size: 24px;
    }
    .contactLogo{
        width: 60px;
    }
    .contactWrap{
        padding: 70px 0 70px;
    }
    .contactWhiteLogo{
        width: 60px;
        margin-bottom: 10px;
    }
    .hideContactWrap{
        top: 20px;
        left: 20px;
        width: 90%;
        height: 90%;
        overflow: hidden;
    }
    .hideContactWrap>div:first-child{
        padding: 10px 0 10px 10px;
    }
    .hideContactLeftText>p{
        font-size: 12px;
    }
    @keyframes nameC {
        0%{ top: 0px; right: 0px;}
        30%{top: -20px; right: -47px;}
        40%{top: -20px; right: -47px; opacity: 0;}
        100%{top: -20px; right: -47px; opacity: 0;}
    }
    @keyframes nameS {
        0%{ top: 0px; right: 0px;}
        30%{top: 20px ;right: 0px;}
        40%{top: 20px ;right: 0px; opacity: 0;}
        100%{top: 20px ;right: 0px; opacity: 0;}
    }
    @keyframes nameM {
        0%{ top: 0px; right: 0px;}
        30%{top: 20px ;right: 27px;}
        40%{top: 20px ;right: 27px; opacity: 0; }
        100%{top: 20px ;right: 27px; opacity: 0;}
    }
}

@media (max-width : 460px){
    .contactBox{
        width: 250px;
        padding: 20px;
    }
    .contactName{
        margin: 50px auto 50px;
        font-size: 20px;
    }
    .contactLogo{
        width: 70px;
    }
    .contactWrap{
        padding: 30px 0 30px;
    }
    .contactWhiteLogo{
        width: 50px;
        margin-bottom: 10px;
    }
    .hideContactWrap{
        top: 20px;
        left: 20px;
        width: 85%;
        height: 80%;
        overflow: hidden;
    }
    .hideContactWrap>div:first-child{
        padding: 5px 0 5px 5px;
    }
    .hideContactLeftText>p{
        font-size: 10px;
    }




    @keyframes nameC {
        0%{ top: 0px; right: 0px;}
        30%{top: -17px; right: -40px;}
        40%{top: -17px; right: -40px; opacity: 0;}
        100%{top: -17px; right: -40px; opacity: 0;}
    }
    @keyframes nameS {
        0%{ top: 0px; right: 0px;}
        30%{top: 17px ;right: 0px;}
        40%{top: 17px ;right: 0px; opacity: 0;}
        100%{top: 17px ;right: 0px; opacity: 0;}
    }
    @keyframes nameM {
        0%{ top: 0px; right: 0px;}
        30%{top: 17px ;right: 20px;}
        40%{top: 17px ;right: 20px; opacity: 0; }
        100%{top: 17px ;right: 20px; opacity: 0;}
    }
}
