.section3Title>h1{
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin: 60px 0 30px;
}
.sec3Article{
    display: flex;
    flex-wrap: wrap;
}
.sec3ContentWrap{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.sec3DivContentWrap{
    position: relative;
    width: 100%;
    border: 1px solid #fff;
    padding: 30px;
    color: #fff;   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sec3ContentWrapTitle{
    font-size: 30px;
    margin-bottom: 30px;
}
.sec3ContentWrapBotTitle{
    font-size: 18px;
    margin-bottom: 80px;
}
.sec3ContentWrapBotText{
    font-size: 16px;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
    margin-bottom: 20px;
}
.sec3ContentWrapText{
    font-size: 16px;
    font-weight: bold;
    color: #F21137;
    margin-bottom: 60px;
}
.sec3Link{
    display: flex;
    justify-content: space-between;
}
.sec3Link a{
    color: #fff;
    text-decoration: none;
}
.sec3Img{
    position: absolute;
    z-index: -1;
    left: 70px;
    top: 30px;
    width: 80%;
    height: 85%;
    opacity: 0.2;
}
.sec3ImgWrap video {
    display: none;
  }
.sec3ContentWrap:hover .sec3ImgWrap video {
    display: block;
}
.sec3Article>div:nth-child(8)>div>div:nth-child(2){
    display: none;
}
.topLeftBox{
    width: 30px; height: 30px;
    background-color: #000;
    position: absolute;
    top: -15px;
    left: -15px;
}
.topRightBox{
    width: 30px; height: 30px;
    background-color: #000;
    position: absolute;
    top: -15px;
    right: -15px;
}
.botLeftBox{
    width: 30px; height: 30px;
    background-color: #000;
    position: absolute;
    bottom: -15px;
    left: -15px;
}
.botRightBox{
    width: 30px; height: 30px;
    background-color: #000;
    position: absolute;
    bottom: -15px;
    right: -15px;
}
.sec3RightContentWrap{
    position: relative;
}
@media (max-width : 1024px){
    .sec3ContentWrap{
        display: block;
        width: 100%;
    }
    .sec3Img{
        width: 92%;
    }
}
@media (max-width : 768px){
    .sec3ContentWrapTitle{
        font-size: 30px;
    }
    .sec3ContentWrapBotTitle{
        font-size: 16px;
    }
    .sec3ContentWrapText{
        font-size: 14px;
        color: #F21137;
    }
    .sec3Img{
        left: 45px;
        top: 30px;
        width: 85%;
        height: 85%;
    }
}
@media (max-width : 500px){
    .sec3ImgWrap video {
        display: block;
      }
      .sec3Article>div:first-child>div:first-child>div:nth-child(2){
        display: none;
    }
    .sec3Article>div:first-child>div:first-child>img{
        display: none;
    }
}
@media (max-width : 460px){
    .sec3ContentWrapTitle{
        font-size: 20px;
    }
    .sec3ContentWrapBotTitle{
        font-size: 14px;
    }
    .sec3ContentWrapText{
        font-size: 12px;
        color: #F21137;
    }
    .sec3Img{
        left: 30px;
        top: 30px;
        width: 85%;
        height: 100%;
    }
}

