.section2{
    margin-bottom: 60px;
}
.section2Title{
    text-align: center;
}
.section2Title>h1{
    color: #fff;
    font-size: 40px;
    margin: 60px 0 30px;
}
.section2Article>div:first-child{
    margin-bottom: 60px;
}
.section2Content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section2Content>div{
    width: calc(20% - 49px); height: 300px;
    border: 1px solid #fff;
    text-align: center;
    padding: 20px;
}
.sec2ItemWrap{
    margin-bottom: 60px;
}
.sec2Img{
    width: 100px; height: 100px;
    margin: 0 auto 20px;
}
.sec2Text{
    text-align: start;
}
.imgTitle{
    font-size: 20px;
    color: #F21137;
    margin-bottom: 10px;
}
.imgText{
    color: #fff;
    font-size: 16px;
}

@media (max-width : 1500px){
    .section2Content>div{
        width: calc(20% - 30px);
    }
    .section2Content{
        display: flex;
    }
}
@media (max-width : 1238px){
    .section2Content>div{
        width: calc(20% - 20px);
    }
    .imgTitle{
        font-size: 18px;
    }
    .imgText{
        font-size: 14px;
    }
}
@media (max-width : 1024px){
    .sec2Img{
        width: 100px; height: 100px;
    }
    .sec2Text{
        text-align: center;
    }
    .imgTitle{
        font-size: 18px;
    }
    .imgText{
        font-size: 16px;
    }
    .section2Content>div {
        width: 35%; height: 280px;
    }
    .section2Content{
        justify-content: space-around;
    }
    .sec2ItemWrap{
        margin-bottom: 30px;
    }
}
@media (max-width : 768px){
    .sec2Img{
        width: 70px; height: 70px;
    }
    .sec2Text{
        text-align: center;
    }
    .imgTitle{
        font-size: 16px;
    }
    .imgText{
        font-size: 14px;
    }
    .section2Content>div {
        width: 45%; height: 250px;
    }
    .section2Content{
        justify-content: space-between;
    }
}
@media (max-width : 460px){
    .imgTitle{
        font-size: 14px;
    }
    .imgText{
        font-size: 12px;
    }
}