.section1{
    width: 100%;
}
.section1Article{
    display: flex;
    padding-top: 150px;
}
.section1Article>div{
    width: calc(100% / 2);
}
.logoInputBg{
    display: flex;
    position: absolute;
    top: 800px;
    left: 45%;
}
.logoInputBg>h1{
    color: #fff;
    margin-right: 10px;
}
.inputBg{
    border: none;
}
.section1Logo{
    width: 200px;
    margin-bottom: 50px;
}
.section1Title{
    font-size: 40px;
    color: #fff;
    margin-bottom: 50px;
}
.section1Table>tr:last-child>td:first-child{
    vertical-align: top;
}
.tableCol{
    border-collapse: separate;
    border-spacing: 10px 0;
}
.tableTitle{
    font-size: 16px;
    font-weight: bold;
    width: 13%;
    color: #F21137;
    padding-bottom: 20px;
}
.tableText{
    color: #fff;
    font-size: 16px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.section1Right{
    display: flex;
}
.section1Right>div{
    width: calc(100% / 2);
}
.sectionLeftBorder{
    text-align: end;
    border-right: 2px solid #fff;
    position: relative;
    z-index: -1;
}
.sectionLeftBorderMove{
    position: absolute;
    display: block;
    width: 10px; height: 10px;
    background-color: #000;
    position: absolute;
    top: 0; right: -5.5px;
    animation: scroll 4s infinite ease-in;
}
@keyframes scroll{
    0%{top: 0;}
    100%{top: 100%;}
}

.sectionLeftBorder>p{
    margin: 0 20px 90px 0;
    color: #F21137;
    font-weight: bold;
}
.sectionRightBorder>p{
    margin: 0 0 87.5px 20px;
    font-weight: bold;
    color: #fff;
}


@media (max-width : 1238px){
    .sectionRightBorder>p:nth-child(6){
        margin-bottom: 70px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}
@media (max-width : 1123px){
    .tableTitle{
        width: 14%;
    }
    .sectionRightBorder>p:nth-child(2){
        margin-bottom: 70px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}


@media (max-width : 1024px){
    .logoInputBg{
        left: 40%;
    }
    .logoInputBg>h1{
        font-size: 20px;
    }
    .section1Article{
        display: block;
    }
    .section1Article>div{
        width: 100%;
    }
    .section1Left{
        width: 100%;
        text-align: center;
    }
    .section1Table{
        width: 100%;
        text-align: center;
    }
    .section1Right{
        width: 100%;
        margin-top: 50px;
    }
    .sectionRightBorder>p:nth-child(2){
        margin-bottom: 90px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(6){
        margin-bottom: 90px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}



@media (max-width : 768px){
    .logoInputBg{
        left: 35%;
    }
    .sectionRightBorder>p:nth-child(6){
        margin-bottom: 70px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .section1Left{
        text-align: center;
    }
}


@media (max-width : 584px){
    .logoInputBg{
        left: 30%;
    }
    .logoInputBg>h1{
        font-size: 16px;
    }
    .sectionRightBorder>p:nth-child(2){
        margin-bottom: 70px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .tableTitle{
        width: 15%;
    }
}
@media (max-width : 499px){
    .sectionRightBorder>p:nth-child(1){
        margin-bottom: 70px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}
@media (max-width : 486px){
    .sectionRightBorder>p:nth-child(7){
        margin-bottom: 70px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .tableTitle{
        width: 16%;
    }
}


@media (max-width : 460px){
    .logoInputBg{
        left: 30%;
    }
    .section1Right>div:first-child{
    width: 40%;
    }
    .section1Right>div:last-child{
    width: 60%;
    }
    .tableTitle{
        width: 20%;
    }
    .tableText{
        padding-left: 10px;
    }
    .sectionRightBorder>p:nth-child(1){
        margin-bottom: 95px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(2){
        margin-bottom: 90px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(3){
        margin-bottom: 110px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(4){
        margin-bottom: 100px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(5){
        margin-bottom: 105px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(6){
        margin-bottom: 90px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(7){
        margin-bottom: 100px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}
@media (max-width : 420px){
    .sectionRightBorder>p:nth-child(1){
        margin-bottom: 95px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(7){
        margin-bottom: 80px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}
@media (max-width : 413px){
    .sectionRightBorder>p:nth-child(1){
        margin-bottom: 90px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(7){
        margin-bottom: 100px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}
@media (max-width : 409px){
    .sectionRightBorder>p:nth-child(7){
        margin-bottom: 80px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}
@media (max-width : 403px){
    .sectionRightBorder>p:nth-child(1){
        margin-bottom: 70px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}
@media (max-width : 390px){
    .sectionRightBorder>p:nth-child(1){
        margin-bottom: 85px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    /* .sectionRightBorder>p:nth-child(5){
        margin-bottom: 95px;
    }글씨 깨지는거 반응형 으로 잡음 */
}
@media (max-width : 374px){
    .sectionRightBorder>p:nth-child(4){
        margin-bottom: 110px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
    .sectionRightBorder>p:nth-child(7){
        margin-bottom: 100px;
    }/* 글씨 깨지는거 반응형 으로 잡음*/
}